.user-container,
.SContacts,
.TContacts {
  width: 95%;
  margin: 30px auto;
}

.user-container header,
.SContacts,
.TContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container header img {
  height: 60px;
}

.table-bordered {
  margin: auto;
}

th {
  padding: 5px 20px 10px 10px;
  text-align: left;
}

table {
  border: 1px solid rgb(41, 41, 41);
}

.btn-sort {
  text-align: center;
  margin: 15px;
}

.btn-sort button {
  margin: 5px;
  padding: 5px;
  font-size: 10pt;
  font-weight: bold;
  background: rgb(83, 135, 248);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

#busca {
  display: flex;
  margin: 20px auto;
  padding: 5px;
  border-radius: 15px;
}

.btn-sort button:active {
  opacity: 0.1;
  transition: .2s;
}

.setor {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.setor td {
  padding-left: 5px;
  font-size: 16pt;
  font-weight: bold;
}

#ver {
  font-size: 10pt;
  cursor: pointer;
  font-weight: bold;
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
  opacity: .7;
}

#ver:hover {
  opacity: 1;
}

.lista td {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.lista p {
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
}

.lista {
  min-width: 60%;
}
.lista tr{
  padding: 5px;
}